# Ignore node_modules directory
node_modules/
Frontend/node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build directories (e.g., for React or Vue.js apps)
build/
dist/
